# ALL necessary libraries

In [373]:
import pandas as pd
import numpy as np
import os
import re #for html tag removal if it has
import string

import nltk
nltk.download('punkt')
nltk.download('stopwords')
import nltk
nltk.download('punkt_tab')
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [374]:
df=pd.read_csv(r'C:\ds\ML\Project\QUORA_QUESTION_PAIR\train.csv')

In [375]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [376]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

# Exploratory Data Analysis

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [378]:
df.isna().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [379]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [380]:
df[df['question2'].isna()]

,id,qid1,qid2,question1,question2,is_duplicate
105780,105780,174363,174364,How can I develop android app?,NaN,0
201841,201841,303951,174364,How can I create an Android app?,NaN,0

In [381]:
df.shape

(404290, 6)

In [382]:
df.dropna(inplace=True)

In [383]:
df.shape

(404287, 6)

In [384]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, qid1, qid2, question1, question2, is_duplicate]
Index: []

In [385]:
df[df['question1'].duplicated()].shape

(113832, 6)

There are 41907 question is repeated in question1

In [386]:
df[df['question2'].duplicated()].shape

(105114, 6)

There are 39916 question is repeated in question2

# Text preprocessing

In [387]:
df['question1']

0         What is the step by step guide to invest in sh...
1         What is the story of Kohinoor (Koh-i-Noor) Dia...
2         How can I increase the speed of my internet co...
3         Why am I mentally very lonely? How can I solve...
4         Which one dissolve in water quikly sugar, salt...
                                ...
404285    How many keywords are there in the Racket prog...
404286            Do you believe there is life after death?
404287                                    What is one coin?
404288    What is the approx annual cost of living while...
404289                What is like to have sex with cousin?
Name: question1, Length: 404287, dtype: object

Lowercassing

In [388]:
df['question2']=df['question2'].str.lower()
df['question1']=df['question1'].str.lower()

In [389]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor (koh-i-noor) dia...,what would happen if the indian government sto...,0
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0
3,3,7,8,why am i mentally very lonely? how can i solve...,find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"which one dissolve in water quikly sugar, salt...",which fish would survive in salt water?,0

In [390]:
# HTML REMOVE
def html_rem(text):
  pattern=re.compile("<.*?>")
  return pattern.sub(r"",text)

df['question1']=df['question1'].apply(html_rem)
df['question2']=df['question2'].apply(html_rem)

In [391]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor (koh-i-noor) dia...,what would happen if the indian government sto...,0
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0
3,3,7,8,why am i mentally very lonely? how can i solve...,find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"which one dissolve in water quikly sugar, salt...",which fish would survive in salt water?,0

In [392]:
# PUNTUATION REMOVAL
exclude=string.punctuation

def punrem(text):
    return text.translate(str.maketrans('','',exclude))

In [393]:
df.iloc[3,]

id                                                              3
qid1                                                            7
qid2                                                            8
question1       why am i mentally very lonely? how can i solve...
question2       find the remainder when [math]23^{24}[/math] i...
is_duplicate                                                    0
Name: 3, dtype: object

we can see there is math

In [394]:
count = 0

def count_math(text):
    global count
    if "[math]" in str(text):
        count += 1

df['question1'].apply(count_math)
df['question2'].apply(count_math)

print(count)

949

In [395]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor (koh-i-noor) dia...,what would happen if the indian government sto...,0
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0
3,3,7,8,why am i mentally very lonely? how can i solve...,find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"which one dissolve in water quikly sugar, salt...",which fish would survive in salt water?,0

Here we see it appears 524 times so that we have to handle it

In [396]:
import re

def preprocess(q):
    q = str(q).lower().strip()

    # Currency & symbols
    q = q.replace('%', ' percent ')
    q = q.replace('$', ' dollar ')
    q = q.replace('₹', ' rupee ')
    q = q.replace('€', ' euro ')
    q = q.replace('@', ' at ')

    # Remove math tag
    q = q.replace('[math]', ' ')

    # Large numbers
    q = q.replace(',000,000,000', ' b ')
    q = q.replace(',000,000', ' m ')
    q = q.replace(',000', ' k ')
    q = re.sub(r'([0-9]+)000000000', r'\1b', q)
    q = re.sub(r'([0-9]+)000000', r'\1m', q)
    q = re.sub(r'([0-9]+)000', r'\1k', q)

    # Source - https://stackoverflow.com/a/19794953
# Posted by arturomp, modified by community. See post 'Timeline' for change history
# Retrieved 2026-01-07, License - CC BY-SA 3.0

    contractions = {
    "ain't": "am not / are not / is not / has not / have not",
    "aren't": "are not / am not",
    "can't": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he had / he would",
    "he'd've": "he would have",
    "he'll": "he shall / he will",
    "he'll've": "he shall have / he will have",
    "he's": "he has / he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how has / how is / how does",
    "I'd": "I had / I would",
    "I'd've": "I would have",
    "I'll": "I shall / I will",
    "I'll've": "I shall have / I will have",
    "I'm": "I am",
    "I've": "I have",
    "isn't": "is not",
    "it'd": "it had / it would",
    "it'd've": "it would have",
    "it'll": "it shall / it will",
    "it'll've": "it shall have / it will have",
    "it's": "it has / it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she had / she would",
    "she'd've": "she would have",
    "she'll": "she shall / she will",
    "she'll've": "she shall have / she will have",
    "she's": "she has / she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as / so is",
    "that'd": "that would / that had",
    "that'd've": "that would have",
    "that's": "that has / that is",
    "there'd": "there had / there would",
    "there'd've": "there would have",
    "there's": "there has / there is",
    "they'd": "they had / they would",
    "they'd've": "they would have",
    "they'll": "they shall / they will",
    "they'll've": "they shall have / they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we had / we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what shall / what will",
    "what'll've": "what shall have / what will have",
    "what're": "what are",
    "what's": "what has / what is",
    "what've": "what have",
    "when's": "when has / when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where has / where is",
    "where've": "where have",
    "who'll": "who shall / who will",
    "who'll've": "who shall have / who will have",
    "who's": "who has / who is",
    "who've": "who have",
    "why's": "why has / why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you had / you would",
    "you'd've": "you would have",
    "you'll": "you shall / you will",
    "you'll've": "you shall have / you will have",
    "you're": "you are",
    "you've": "you have"
      }


    # Decontract
    q_decontracted = []
    for word in q.split():
        if word in contractions:
            q_decontracted.append(contractions[word])
        else:
            q_decontracted.append(word)

    q = ' '.join(q_decontracted)

    # Clean punctuation
    q = re.sub(r'\W', ' ', q)
    q = re.sub(r'\s+', ' ', q).strip()

    return q

In [397]:
df['question1']=df['question1'].apply(preprocess)
df['question2']=df['question2'].apply(preprocess)

In [398]:
df.head(

)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor koh i noor diamond,what would happen if the indian government sto...,0
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0
3,3,7,8,why am i mentally very lonely how can i solve it,find the remainder when 23 24 math is divided ...,0
4,4,9,10,which one dissolve in water quikly sugar salt ...,which fish would survive in salt water,0

In [399]:
# def spelling_correction(text):
#   tb=TextBlob(text)
#   return tb.correct().string
# df['question1']=df['question1'].apply(spelling_correction)

In [400]:
# # removing stopwords
# stopword=stopwords.words('english')

In [401]:
# def rem_stopwords(text):
#   new_text=[]
#   for word in text.split():
#     if word in stopword:
#       new_text.append('')
#     else :
#       new_text.append(word)
#   x=new_text[:]
#   return " ".join(x)

# df['question1']=df['question1'].apply(rem_stopwords)
# df['question2']=df['question2'].apply(rem_stopwords)

In [402]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor koh i noor diamond,what would happen if the indian government sto...,0
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0
3,3,7,8,why am i mentally very lonely how can i solve it,find the remainder when 23 24 math is divided ...,0
4,4,9,10,which one dissolve in water quikly sugar salt ...,which fish would survive in salt water,0

In [403]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
ps=PorterStemmer()

def stemming(text):
  new_text=[]
  for word in word_tokenize(text):
    new_text.append(ps.stem(word))

  return " ".join(new_text)

In [404]:
# df['question1']=df['question1'].apply(stemming)
# df['question2']=df['question2'].apply(stemming)

In [405]:
import pandas as pd
import numpy as np
import os
import re #for html tag removal if it has
import string

import nltk
nltk.download('punkt')
nltk.download('stopwords')
import nltk
nltk.download('punkt_tab')
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [406]:
# df.to_csv(path_or_buf='/content/sample_data/preprocess.csv',index=False)

In [407]:
# df=pd.read_csv('/content/sample_data/preprocess.csv')
df=df.sample(30000)

In [408]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
28163,28163,52246,52247,is it ok to ask if are you authorized to work ...,what does this mean are you authorized to work...,0
90414,90414,8048,151720,how do i stop a redirecting virus on android i...,how can i redirect an android virus,0
227513,227513,336387,336388,did rana sanga bring babar to indian regions,did rana sanga the medieval king of mewar actu...,0
107767,107767,177218,177219,what is the life of a web developer,what is the future of web development,0
10927,10927,21137,21138,how and where do you find a tech co founder fo...,how do you find a co founder for a startup,0

In [409]:
df=df.dropna()

In [410]:
df['q1_len'] = df['question1'].str.len()
df['q2_len']=df['question2'].str.len()

In [411]:
df['q1_word'] = df['question1'].str.split().str.len()
df['q2_word'] = df['question2'].str.split().str.len()

In [412]:
def common_w(text1, text2):
    s1 = set(text1.split())
    s2 = set(text2.split())
    return len(s1 & s2)

df['common_word'] = df.apply(
    lambda x: common_w(x['question1'], x['question2']),
    axis=1
)

In [413]:
df['total_word']=df['question1'].str.split().str.len()+df['question2'].str.split().str.len()

In [414]:
df['word_share']=df['common_word']/df['total_word']

In [415]:
def jaccard_similarity(q1, q2):
    if not isinstance(q1, str) or not isinstance(q2, str):
        return 0
    s1, s2 = set(q1.split()), set(q2.split())
    return len(s1 & s2) / len(s1 | s2) if len(s1 | s2) != 0 else 0

df['jaccard_sim'] = [
    jaccard_similarity(q1, q2)
    for q1, q2 in zip(df['question1'], df['question2'])
]

In [416]:
df['q1_len'] = df['question1'].fillna("").str.len()
df['q2_len'] = df['question2'].fillna("").str.len()
df['len_diff'] = abs(df['q1_len'] - df['q2_len'])

In [417]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

def common_stopword_ratio(q1, q2):
    s1 = set(q1.split()) & stop_words
    s2 = set(q2.split()) & stop_words
    return len(s1 & s2) / (len(s1 | s2) + 1)

df['common_stopword_ratio'] = [
    common_stopword_ratio(q1, q2)
    for q1, q2 in zip(df['question1'], df['question2'])
]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [418]:
def first_word_same(q1, q2):
    try:
        return int(q1.split()[0] == q2.split()[0])
    except:
        return 0

df['first_word_same'] = [
    first_word_same(q1, q2)
    for q1, q2 in zip(df['question1'], df['question2'])
]

In [419]:
q1 = df['question1']
q2 = df['question2']

In [420]:
df['unique_word_diff'] = [
    abs(len(set(a.split())) - len(set(b.split())))
    for a, b in zip(q1, q2)
]

In [421]:
def overlap_coeff(a, b):
    s1, s2 = set(a.split()), set(b.split())
    return len(s1 & s2) / (min(len(s1), len(s2)) + 1)

df['overlap_coeff'] = [overlap_coeff(a, b) for a, b in zip(q1, q2)]

In [422]:
df['exact_match'] = [
    int(a.strip().lower() == b.strip().lower())
    for a, b in zip(q1, q2)
]

In [423]:
def char_overlap(a, b):
    s1, s2 = set(a), set(b)
    return len(s1 & s2) / (len(s1 | s2) + 1)

df['char_overlap'] = [char_overlap(a, b) for a, b in zip(q1, q2)]

In [424]:
def avg_word_len_diff(a, b):
    aw = sum(len(w) for w in a.split()) / (len(a.split()) + 1)
    bw = sum(len(w) for w in b.split()) / (len(b.split()) + 1)
    return abs(aw - bw)

df['avg_word_len_diff'] = [avg_word_len_diff(a, b) for a, b in zip(q1, q2)]

In [425]:
df['word_count_ratio'] = [
    len(a.split()) / (len(b.split()) + 1)
    for a, b in zip(q1, q2)
]

In [426]:
import string

def punct_diff(a, b):
    return abs(
        sum(c in string.punctuation for c in a) -
        sum(c in string.punctuation for c in b)
    )

df['punct_diff'] = [punct_diff(a, b) for a, b in zip(q1, q2)]

In [427]:
df['first_word_match'] = [
    int(a.split()[0] == b.split()[0]) if a and b else 0
    for a, b in zip(q1, q2)
]

df['last_word_match'] = [
    int(a.split()[-1] == b.split()[-1]) if a and b else 0
    for a, b in zip(q1, q2)
]

In [428]:
from nltk.util import ngrams

def bigram_overlap(a, b):
    bg1 = set(ngrams(a.split(), 2))
    bg2 = set(ngrams(b.split(), 2))
    return len(bg1 & bg2)

df['bigram_overlap'] = [bigram_overlap(a, b) for a, b in zip(q1, q2)]

In [429]:
def trigram_overlap(a, b):
    tg1 = set(ngrams(a.split(), 3))
    tg2 = set(ngrams(b.split(), 3))
    return len(tg1 & tg2)

df['trigram_overlap'] = [trigram_overlap(a, b) for a, b in zip(q1, q2)]

In [430]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

def stopword_diff(a, b):
    return abs(
        sum(w in stop_words for w in a.split()) -
        sum(w in stop_words for w in b.split())
    )

df['stopword_diff'] = [stopword_diff(a, b) for a, b in zip(q1, q2)]

In [431]:
def content_overlap(a, b):
    s1 = set(w for w in a.split() if w not in stop_words)
    s2 = set(w for w in b.split() if w not in stop_words)
    return len(s1 & s2)

df['content_overlap'] = [content_overlap(a, b) for a, b in zip(q1, q2)]

In [432]:
import difflib

df['sequence_ratio'] = [
    difflib.SequenceMatcher(None, a, b).ratio()
    for a, b in zip(q1, q2)
]

In [433]:
def prefix_match(a, b):
    i = 0
    while i < min(len(a), len(b)) and a[i] == b[i]:
        i += 1
    return i

df['prefix_match_len'] = [prefix_match(a, b) for a, b in zip(q1, q2)]

In [434]:
def suffix_match(a, b):
    i = 0
    while i < min(len(a), len(b)) and a[-1-i] == b[-1-i]:
        i += 1
    return i

df['suffix_match_len'] = [suffix_match(a, b) for a, b in zip(q1, q2)]

In [435]:
def digit_overlap(a, b):
    return len(set(filter(str.isdigit, a)) & set(filter(str.isdigit, b)))

df['digit_overlap'] = [digit_overlap(a, b) for a, b in zip(q1, q2)]

In [436]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_word,q2_word,...,first_word_match,last_word_match,bigram_overlap,trigram_overlap,stopword_diff,content_overlap,sequence_ratio,prefix_match_len,suffix_match_len,digit_overlap
28163,28163,52246,52247,is it ok to ask if are you authorized to work ...,what does this mean are you authorized to work...,0,86,87,17,15,...,0,1,10,9,1,6,0.832370,0,68,0
90414,90414,8048,151720,how do i stop a redirecting virus on android i...,how can i redirect an android virus,0,61,35,12,7,...,1,0,0,0,2,2,0.583333,4,0,0
227513,227513,336387,336388,did rana sanga bring babar to indian regions,did rana sanga the medieval king of mewar actu...,0,44,105,8,19,...,1,0,2,1,4,2,0.442953,15,0,0
107767,107767,177218,177219,what is the life of a web developer,what is the future of web development,0,35,37,8,7,...,1,0,2,1,1,1,0.833333,12,0,0
10927,10927,21137,21138,how and where do you find a tech co founder fo...,how do you find a co founder for a startup,0,60,42,13,10,...,1,1,5,3,2,4,0.803922,4,8,0

In [437]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(max_features=5000)

tfidf_matrix = tfidf.fit_transform(
    list(df['question1']) + list(df['question2'])
)

n = len(df)
q1_tfidf = tfidf_matrix[:n]
q2_tfidf = tfidf_matrix[n:]

df['tfidf_cosine'] = [
    cosine_similarity(q1_tfidf[i], q2_tfidf[i])[0][0]
    for i in range(n)
]

In [438]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_word,q2_word,...,last_word_match,bigram_overlap,trigram_overlap,stopword_diff,content_overlap,sequence_ratio,prefix_match_len,suffix_match_len,digit_overlap,tfidf_cosine
28163,28163,52246,52247,is it ok to ask if are you authorized to work ...,what does this mean are you authorized to work...,0,86,87,17,15,...,1,10,9,1,6,0.832370,0,68,0,0.722384
90414,90414,8048,151720,how do i stop a redirecting virus on android i...,how can i redirect an android virus,0,61,35,12,7,...,0,0,0,2,2,0.583333,4,0,0,0.590820
227513,227513,336387,336388,did rana sanga bring babar to indian regions,did rana sanga the medieval king of mewar actu...,0,44,105,8,19,...,0,2,1,4,2,0.442953,15,0,0,0.096346
107767,107767,177218,177219,what is the life of a web developer,what is the future of web development,0,35,37,8,7,...,0,2,1,1,1,0.833333,12,0,0,0.414488
10927,10927,21137,21138,how and where do you find a tech co founder fo...,how do you find a co founder for a startup,0,60,42,13,10,...,1,5,3,2,4,0.803922,4,8,0,0.856091

In [439]:
from sklearn.feature_extraction.text import CountVectorizer
questions=list(df['question1'])+list(df['question2'])
cv=CountVectorizer(max_features=3500)
q1_arr,q2_arr=np.vsplit(cv.fit_transform(questions).toarray(),2)

In [440]:

feature_names = cv.get_feature_names_out()
bow_cols = [f"q1_{w}" for w in feature_names] + [f"q2_{w}" for w in feature_names]

In [441]:
temp_df1=pd.DataFrame(q1_arr,index=df.index)
temp_df2=pd.DataFrame(q2_arr,index=df.index)
temp=pd.concat([temp_df1,temp_df2],axis=1)

In [442]:
temp.columns=columns=bow_cols

In [443]:
temp.head()

,q1_10,q1_100,q1_10k,q1_11,q1_12,q1_12th,q1_13,q1_14,q1_15,q1_15k,...,q2_yet,q2_yoga,q2_york,q2_you,q2_young,q2_your,q2_yourself,q2_youtube,q2_zero,q2_zone
28163,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
90414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107767,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10927,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [444]:
temp.shape

(30000, 7000)

In [445]:
temp['is_duplicate']=df['is_duplicate']

In [446]:
# temp.to_csv('/content/sample_data/bow.csv',index=False)
# temp=pd.read_csv('/content/sample_data/bow.csv')

In [447]:
temp.head()

,q1_10,q1_100,q1_10k,q1_11,q1_12,q1_12th,q1_13,q1_14,q1_15,q1_15k,...,q2_yoga,q2_york,q2_you,q2_young,q2_your,q2_yourself,q2_youtube,q2_zero,q2_zone,is_duplicate
28163,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
90414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107767,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10927,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [448]:
df=df.drop(columns=['id','qid1','qid2','question1','question2'],axis=0)

In [449]:
df.head()

,is_duplicate,q1_len,q2_len,q1_word,q2_word,common_word,total_word,word_share,jaccard_sim,len_diff,...,last_word_match,bigram_overlap,trigram_overlap,stopword_diff,content_overlap,sequence_ratio,prefix_match_len,suffix_match_len,digit_overlap,tfidf_cosine
28163,0,86,87,17,15,11,32,0.343750,0.550000,1,...,1,10,9,1,6,0.832370,0,68,0,0.722384
90414,0,61,35,12,7,4,19,0.210526,0.266667,26,...,0,0,0,2,2,0.583333,4,0,0,0.590820
227513,0,44,105,8,19,4,27,0.148148,0.190476,61,...,0,2,1,4,2,0.442953,15,0,0,0.096346
107767,0,35,37,8,7,5,15,0.333333,0.500000,2,...,0,2,1,1,1,0.833333,12,0,0,0.414488
10927,0,60,42,13,10,9,23,0.391304,0.692308,18,...,1,5,3,2,4,0.803922,4,8,0,0.856091

In [450]:
df = df.loc[:, ~df.columns.duplicated()]
temp = temp.loc[:, ~temp.columns.duplicated()]

In [468]:
temp.shape

(30000, 7001)

In [451]:
X = pd.concat(
    [df.drop(columns=['is_duplicate']),
     temp.drop(columns=['is_duplicate'])],
    axis=1
)

y = df['is_duplicate']

In [ ]:
X.shape

In [452]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.25)

In [453]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()

In [454]:
xtrain.head()

,q1_len,q2_len,q1_word,q2_word,common_word,total_word,word_share,jaccard_sim,len_diff,common_stopword_ratio,...,q2_yet,q2_yoga,q2_york,q2_you,q2_young,q2_your,q2_yourself,q2_youtube,q2_zero,q2_zone
354971,42,42,10,11,6,21,0.285714,0.428571,0,0.363636,...,0,0,0,0,0,0,0,0,0,0
3746,63,47,11,10,9,21,0.428571,0.750000,16,0.625000,...,0,0,0,0,0,0,0,0,0,0
23413,36,34,7,7,5,14,0.357143,0.555556,2,0.500000,...,0,0,0,0,0,0,0,0,0,0
89473,42,32,7,5,4,12,0.333333,0.500000,10,0.400000,...,0,0,0,0,0,0,0,0,0,0
374752,125,113,22,20,19,42,0.452381,0.904762,12,0.900000,...,0,0,0,0,0,0,0,0,0,0

In [455]:
xtrain.columns = xtrain.columns.astype(str)
xtest.columns  = xtest.columns.astype(str)

rf.fit(xtrain, ytrain)

RandomForestClassifier()

In [ ]:
import pickle

with open(r"C:\ds\PROJECT\QUORA_QUESTION_PAIR\rf_model.pkl", "wb") as file:
    pickle.dump(rf, file)

In [457]:
y_pred=rf.predict(xtest)
print(accuracy_score(ytest,y_pred))

0.7890666666666667

In [458]:
# from xgboost import XGBClassifier
# xgb=XGBClassifier()
# xgb.fit(xtrain,ytrain)

In [459]:
# y_pred=xgb.predict(xtest)
# print(accuracy_score(ytest,y_pred))

In [460]:
xtrain.columns

Index(['q1_len', 'q2_len', 'q1_word', 'q2_word', 'common_word', 'total_word',
       'word_share', 'jaccard_sim', 'len_diff', 'common_stopword_ratio',
       ...
       'q2_yet', 'q2_yoga', 'q2_york', 'q2_you', 'q2_young', 'q2_your',
       'q2_yourself', 'q2_youtube', 'q2_zero', 'q2_zone'],
      dtype='object', length=7029)

In [461]:
# import pickle

# with open(r"C:\ds\ML\Project\QUORA_QUESTION_PAIR\xgb_model.pkl", "wb") as file:
#     pickle.dump(xgb, file)

In [ ]:

import pickle

with open(r"C:\ds\PROJECT\QUORA_QUESTION_PAIR\cv_model.pkl", "wb") as file:
    pickle.dump(cv, file)



with open(r"C:\ds\PROJECT\QUORA_QUESTION_PAIR\tfidf_model.pkl", "wb") as file:
    pickle.dump(tfidf, file)

In [463]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import RandomizedSearchCV

# rf2 = RandomForestClassifier(
#     random_state=42,
#     n_jobs=-1,
#     class_weight='balanced'
# )

# param_dist = {
#     'n_estimators': [100, 200, 300],
#     'max_depth': [None, 10, 20, 30],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4],
#     'max_features': ['sqrt', 'log2']
# }

# rf_random = RandomizedSearchCV(
#     rf2,
#     param_distributions=param_dist,
#     n_iter=20,
#     cv=3,
#     scoring='f1',
#     verbose=2,
#     random_state=42,
#     n_jobs=-1
# )

# rf_random.fit(xtrain, ytrain)

# best_rf = rf_random.best_estimator_
# print(rf_random.best_params_)

In [464]:
# y_pred=rf2.predict(xtest)
# print(accuracy_score(ytest,y_pred))

Adding more feature

In [465]:
# df['q1_length']=len(df['question1'].str)

In [466]:
xtrain.shape

(22500, 7029)

In [471]:
xtest.shape

(7500, 7029)

In [482]:
list1=(xtest.columns).tolist()

In [485]:
for i in range (20,30):
    print(list1[i])

bigram_overlap
trigram_overlap
stopword_diff
content_overlap
sequence_ratio
prefix_match_len
suffix_match_len
digit_overlap
tfidf_cosine
q1_10

In [480]:
list1=(xtest.columns).tolist()